.containerall{
  width: 100%;
  height: 300vh;
  max-width: 300%;
  max-height: 900vh;
  margin: 0 auto;
  /* background-image: url(https://images8.alphacoders.com/479/479393.jpg) ; */
  background-color: #120212;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.containerorder{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

/* #120212 - rgb(31, 34, 34) */
/* loading estilo */
.containerloading{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #120212;
  background-size: cover;
  position: relative;
}

.containerload{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 45%;
  border: solid 5px #064555; 
  border-top: solid 5px #7cd6ec;
  border-radius: 50%;
  animation: load .8s linear infinite;
}

@keyframes load {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.containerresetload{
  width: 150px;
  background-color:transparent;
  height: 40px;
  display: flex;
  justify-content: center;
}

.buttonresetpage{
  background-color: transparent;
  position: absolute;
  top: 70%;
  color: #7cd6ec;
  font-size: 20px;
  border-radius: 6px;
  border-color: #064555;
  cursor: pointer;
  transition: all ease-out 200ms;
  letter-spacing: 2px;
}

.buttonresetpage:hover{
  color: #7cd6ec;
  text-shadow: 2px 2px 2px #38ede8;
  box-shadow: 2px 2px 3px #7cd6ec;
}

.textload{
  color: #7cd6ec;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: text 1s alternate infinite ease-in-out;
}

@keyframes text {
  0%{
    opacity: .2;
  }
  100%{
    opacity: 1;
  }
}

/* load window */
.containerimage{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 23%;
  top: 46%;
  background-color: black;
  height: 100px;
}

.containeralfa{
  
  width: 10%;
  margin-left:20px ;
}

.containermayor{
  background-color: transparent;
  width: 10%;
  margin-right:20px ;
}

.containergenre{
  background-color: transparent;
  width: 10%;
  margin-right:20px ;
}

.containercreate{
  background-color: transparent;
  width: 8%;
  margin-right:20px ;
}

.containerreset{
  width: 100px;
  background-color: transparent;
}

.buttonreset{
  width: 100px;
  height: 32px;
  background-color: #1d3820;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.containerbuttonreset{
  position: relative;
  bottom: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

.selectasc{
  padding: 8px 12px;
  color: #ffffff;
  background-color: #1d3820;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  
}

.ascdescop{
  background: #1d3820;
}

.containerpaginado{
  display: inline-block;
  justify-content: flex-end;
  align-items: center;
  width: 160px;
  height: 60px;
}

@media (max-width: 900px){
  .containerall{
    height: 750vh;
  }
  .containerorder{
    justify-content: space-between;
  }
  .containeralfa{
    margin-left: 0;
  }
}
