.containerLanding{
  width: 100%;
  height: 100vh;
  background-image: url(https://i.pinimg.com/originals/59/bf/96/59bf96fde108d05bbaa2f096de0934d5.gif);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerbutton{
  position: relative;
  right: 45%;
  background-color: rgb(6, 24, 29);
  border: none;
  border-radius: 10px;
  width: 30%;
  height: 5%;
}



.homebutton{
  display: inline-block;
  padding: 10px 20px 20px;
  font-size: 20px;
  background-color: transparent;
  border: 0px;
  color: #165c5a;
  text-transform: uppercase;
  letter-spacing: 10px;
  bottom: 4px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-out 200ms;
}
.homebutton:hover{
  color: #38ede8;
  text-shadow: 3px 2px 3px #38ede8;
}

.homebutton::after,
.homebutton::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 78%;
  left: -3px;
  top: -3px;
  border: 3px solid #165c5a;
  border-radius: 8px;
  transition: all ease-out 200ms;
}
.homebutton:hover::before,
.homebutton:hover::after{ 
  border-color: #38ede8;
}
.homebutton:hover::before{
  filter: blur(4px)
}

.containertitle{
  background-color: transparent;
  position: relative;
  bottom: 250px;
  letter-spacing: 3px;
  font-size: 30px;
  color: rgb(15, 189, 93);
  text-shadow: 7px 4px 4px rgb(4, 77, 46);
}

.msg{
  color: white;
}

.containermsg{
  background-color: transparent;
  position: relative;
  top: 45%;
  right: 70%;
  letter-spacing: 4px;
}
