.containerform{
  background-color: #120212;
  background-size: cover;
  height: 100vh;
}

.containerencabezado{
  position: relative;
  background-color: rgb(41, 63, 42);
  height: 70px;
}

.buttomback{
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 15px auto;
  padding: 10px;
  width: 190px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: aliceblue;
  font-size: 25px;
}

.buttomback:hover{
  transition: ease-in .5s;
  color: aquamarine;
  text-shadow:0 0 7px aquamarine;
}

.titlecreate{
  position: absolute;
  left: 50%;
  transform: translate(-50%,-20%);
  margin: 20px auto; 
  padding: 5px;
  color: white;
}



.form{
  width: 400px;
  background-color: rgb(43, 59, 56);
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
}

.labelForm{
  color: #a8fc98;
}

.input{
  width: 70%;
  display: flex;
  justify-content: flex-start;
  position: relative;
  left: 16%;
  height: 20px;
  border-radius: 10px;
  border: none;
  background-color: white;
  padding: 2px 5px 2px;
  color: rgb(0, 0, 0);
}

.errorsmsg{
  color: red;
  background-color: transparent;
}

.contgenre{
  display: inline;
}


.buttoncreategame{
  background-color: white;
  border: none;
  border-radius: 4px;
  position: relative;
  top: 10px;
  width: 150px;
  height: 30px;
  cursor: pointer;
}

.boxbuttoncreate{
  background-color: transparent;
  width: 40%;
  height: 40px;
  position: relative;
  left: 30%;
  top: 20px;
  
}

.selectform{
  cursor: pointer;
}

@media (max-width: 800px){
  .titlecreate{
    font-size: 15px;
    transform: translate(-50%,-10%);
    
  }
  .buttomback{
    justify-content: flex-start;
    align-items: center;
    font-size: 20px;
  }
  .form{
    width: 250px;
  }
  .containerform{
    height: 130vh;
  }
}
