.containertitle{
  background-color: rgb(33, 63, 44);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

/* .containerbutton{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 5px;
  border-color: black;
  width: 180px;
  height: 45px;
  position: relative;
  top: 20px;
  left: 65%;
  border-radius: 10px;
} */



.buttoncreate{
  font-size: 25px;
  background-color: transparent;
  border: none;
  color: aliceblue;
  cursor: pointer;
}

.buttoncreate:hover{
  transition: ease-in .5s;
  color: aquamarine;
  text-shadow:0 0 7px aquamarine;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 30px;
  color: aliceblue;
  letter-spacing: 3px;
}

